<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Riego - Dashboard</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/css/datepicker3.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="static/js/html5shiv.js"></script>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			{% include 'navbar.html' %}
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Ronny</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li class=""><a href="report"><em class="fa fa-table">&nbsp;</em> Reportes</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-container">
            <div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Humedad suelo 1</h4>
                        {% if sensors_data[0][3] %}
						    <div class="easypiechart" id="easypiechart-blue" data-percent="{{sensors_data[0][3]}}" ><span class="percent">
                                <script>
                                    document.write((parseFloat({{sensors_data[0][3]}})).toFixed(2));
                                </script>
                            %</span></div>
                        {% else%}
                            <div class="easypiechart" id="easypiechart-blue" data-percent="0" ><span class="percent">0°</span></div>
                        {% endif %}
					</div>
				</div>
			</div>
            <div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Humedad suelo 2</h4>
                        {% if sensors_data[0][6] %}
						    <div class="easypiechart" id="easypiechart-blue2" data-percent="{{sensors_data[0][6]}}" ><span class="percent">
                                <script>
                                    document.write((parseFloat({{sensors_data[0][6]}})).toFixed(2));
                                </script>
                            %</span></div>
                        {% else%}
                            <div class="easypiechart" id="easypiechart-blue2" data-percent="0" ><span class="percent">0°</span></div>
                        {% endif %}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Humedad ambiente</h4>
                        {% if sensors_data[0][1] %}
						    <div class="easypiechart" id="easypiechart-orange" data-percent="{{sensors_data[0][1]}}" ><span class="percent">
                                <script>
                                    document.write(parseFloat({{sensors_data[0][1]}}));
                                </script>
                            °</span></div>
                        {% else%}
                            <div class="easypiechart" id="easypiechart-orange" data-percent="0" ><span class="percent">0°</span></div>
                        {% endif %}
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Temperatura ambiente</h4>
                        {% if sensors_data[0][2] %}
                            <div class="easypiechart" id="easypiechart-teal" data-percent="{{sensors_data[0][2]}}" ><span class="percent">
                                <script>
                                    document.write(parseFloat({{sensors_data[0][2]}}));
                                </script>
                                °</span></div>
                        {% else%}
                            <div class="easypiechart" id="easypiechart-teal" data-percent="0" ><span class="percent">0°</span></div>
                        {% endif %}
					</div>
				</div>
			</div>
		</div><!--/.row-->

			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fas fa-leaf color-teal "></em>
							<div class="large">1</div>
							<div class="text-muted">Plantación</div>
						</div>
					</div>
				</div>
                <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fas fa-leaf color-teal "></em>
							<div class="large">2</div>
							<div class="text-muted">Plantación</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-orange panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fa-thermometer-full color-gray "></em>
							<div class="large">24</div>
							<div class="text-muted">Presión</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-default panel-widget border-right">
						<div class="row no-padding"><em class="fa fa-xl fas fa-tint color-blue"></em>
							<div class="large">100%</div>
							<div class="text-muted">Agua</div>
						</div>
					</div>
				</div>
			</div><!--/.row-->
		</div>

        <form method="post" action="index">

        <div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">Control de sensores</div>
						<div class="panel-body">
                            <table style="margin-left: 20px;">

                                <tr>
                                    <td>
                                        <label class="switch">
                                            {% if data_params[0][0]=='on' %}
                                                <input id="switch_1" type="checkbox" name="active_riego_auto" checked onchange="toggle_controls()">
                                            {% else%}
                                                <input id="switch_1" type="checkbox" name="active_riego_auto" toggle_controls="toggle_controls()">
                                            {% endif %}
                                          <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p style="font-size: 20px; margin-left: 20px; margin-bottom: 10px;">
                                            Activar riego automático
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="switch">
                                          {% if data_params[1][0]=='on' %}
                                                <input id="switch_2" type="checkbox" name="active_bomba_agua" checked>
                                            {% else%}
                                                <input id="switch_2" type="checkbox" name="active_bomba_agua">
                                            {% endif %}
                                          <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p style="font-size: 20px; margin-left: 20px; margin-bottom: 10px;">
                                            Activar bomba de agua
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="switch">
                                          {% if data_params[2][0]=='on' %}
                                                <input id="switch_3" type="checkbox" name="active_selenoide_izq" checked>
                                            {% else%}
                                                <input id="switch_3" type="checkbox" name="active_selenoide_izq">
                                            {% endif %}
                                          <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p style="font-size: 20px; margin-left: 20px; margin-bottom: 10px;">
                                            Activar selenoide izquierdo
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="switch">
                                          {% if data_params[3][0]=='on' %}
                                                <input id="switch_4" type="checkbox" name="active_selenoide_der" checked>
                                            {% else%}
                                                <input id="switch_4" type="checkbox" name="active_selenoide_der">
                                            {% endif %}
                                          <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p style="font-size: 20px; margin-left: 20px; margin-bottom: 10px;">
                                            Activar selenoide derecho
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td style="padding-top: 30px;">
                                        <input style="float: right;" name="save" type="submit" class="btn btn-primary mr-2" value="Guardar"/>
                                    </td>
                                </tr>

                            </table>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">Control de estadísticas</div>
						<div class="panel-body">
                            <table style="margin-left: 20px;">

                                <tr>
                                    <td>
                                        <label class="switch">
                                            {% if data_params[4][0]=='on' %}
                                                <input type="checkbox" name="active_grabar_est" checked>
                                            {% else%}
                                                <input type="checkbox" name="active_grabar_est">
                                            {% endif %}
                                          <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p style="font-size: 20px; margin-left: 20px; margin-bottom: 10px;">
                                            Grabar estadísticas
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="switch">
                                            {% if data_params[5][0]=='on' %}
                                                <input type="checkbox" name="active_mostrar_est" checked onchange="toggle_charts()">
                                            {% else%}
                                                <input type="checkbox" name="active_mostrar_est" onchange="toggle_charts()">
                                            {% endif %}
                                          <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <p style="font-size: 20px; margin-left: 20px; margin-bottom: 10px;">
                                            Mostrar estadísticas
                                        </p>
                                    </td>
                                </tr>

                            </table>


						</div>
					</div>
				</div>
			</div>
    </form>

        <div id="chart_panel" class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Últimos resultados
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<ul class="dropdown-settings">
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 1
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 2
											</a></li>
											<li class="divider"></li>
											<li><a href="#">
												<em class="fa fa-cog"></em> Settings 3
											</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

        <div class="col-sm-12">
				<p class="back-link"><a href="http://www.ug.edu.ec/">Universidad Estatal de Guayaquil</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->

	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/chart.min.js"></script>
	<script src="static/js/chart-data.js"></script>
	<script src="static/js/easypiechart.js"></script>
	<script src="static/js/easypiechart-data.js"></script>
	<script src="static/js/bootstrap-datepicker.js"></script>
	<script src="static/js/custom.js"></script>
	<script>
		window.onload = function () {

	var chart1 = document.getElementById("line-chart").getContext("2d");

	var lineChart_riego = {

        labels : {{chart_fechas | tojson}},
		datasets : [
		    {
				label: "Humedad suelo",
				fillColor : "rgb(51,164,250,0.2)",
				strokeColor : "rgb(51,164,250,1)",
				pointColor : "rgb(51,164,250,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgb(51,164,250,1)",
				data : {{char_hum_sue | tojson }}
			},
			{
				label: "Humedad ambiente",
				fillColor : "rgb(255,181,62,0.2)",
				strokeColor : "rgb(255,181,62,1)",
				pointColor : "rgb(255,181,62,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgb(255,181,62,1)",
				data : {{char_hum_amb | tojson }}
			}
			,
			{
				label: "Temperatura ambiente",
				fillColor : "rgb(53,191,174,0.2)",
				strokeColor : "rgb(53,191,174,1)",
				pointColor : "rgb(53,191,174,1)",
				pointStrokeColor : "#fff",
				pointHighlightFill : "#fff",
				pointHighlightStroke : "rgb(53,191,174,1)",
				data : {{char_tem_amb | tojson }}
			}
		]

	}

	window.myLine = new Chart(chart1).Line(lineChart_riego, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});

};
		function toggle_charts() {
          var x = document.getElementById("chart_panel");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }

        function toggle_controls() {
          var switch_1 = document.getElementById("switch_1");
          var switch_2 = document.getElementById("switch_2");
          var switch_3 = document.getElementById("switch_3");
          var switch_4 = document.getElementById("switch_4");

          if (switch_1.checked === true) {
            switch_2.checked = false;
            switch_3.checked = false;
            switch_4.checked = false;
            switch_2.disabled = true;
            switch_3.disabled = true;
            switch_4.disabled = true;
          } else {
            switch_2.checked = false;
            switch_3.checked = false;
            switch_4.checked = false;
            switch_2.disabled = false;
            switch_3.disabled = false;
            switch_4.disabled = false;
          }
        }
	</script>
</body>
</html>