<ul class="nav menu">
			<li class="active"><a href="#"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li class=""><a href="report"><em class="fa fa-table">&nbsp;</em> Reportes</a></li>
		</ul>