<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Riego - Dashboard</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/css/datepicker3.css" rel="stylesheet">
	<link href="static/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="static/js/html5shiv.js"></script>
	<script src="static/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			{% include 'navbar.html' %}
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Ronny</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>

		<ul class="nav menu">
			<li class=""><a href="index"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
            <li class="active"><a href="report"><em class="fa fa-table">&nbsp;</em> Reportes</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Reporte de registros</h1>
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-container">
            <div class="row">
                <div class="panel panel-default">
						<div class="panel-heading">Registro de riego</div>
						<div class="panel-body btn-margins">
							<div class="col-md-12">
								<table class="table table-striped">
									<thead>
										<tr>
                                            <th class="text-center">ID</th>
											<th class="text-center">Hum. Ambiente</th>
											<th class="text-center">Tem. Ambiente</th>
											<th class="text-center">Hum. Suelo</th>
                                            <th class="text-center">Hum. Suelo 2</th>
											<th class="text-center">Cultivo</th>
                                            <th class="text-center">Fecha</th>
										</tr>
									</thead>
									<tbody>
                                    {% for row in report_data %}
                                          <tr style="text-align: center;">
                                              <td>{{row[0]}}</td>
                                              <td>{{row[1]}}</td>
                                              <td>{{row[2]}}</td>
                                              <td>
                                                  <script>
                                                      document.write((parseFloat({{row[3]}})).toFixed(2));
                                                  </script>
                                                  %
                                              </td>
                                              <td>
                                                  <script>
                                                      document.write((parseFloat({{row[6]}})).toFixed(2));
                                                  </script>
                                                  %
                                              </td>
                                              <td>
                                                  <script>
                                                      document.write(Math.round(parseFloat('{{row[4]}}')));
                                                  </script>
                                              </td>
                                              <td>{{row[5]}}</td>
                                          </tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
            </div>
		</div>

        <div class="col-sm-12">
				<p class="back-link"><a href="http://www.ug.edu.ec/">Universidad Estatal de Guayaquil</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->
	
	<script src="static/js/jquery-1.11.1.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>

</body>
</html>